:root {
  --primary-color: #8210d3;
  --secondary-color: #eddbf9;
  --tertiary-color: #202020;
}

body {
  font-family: "Teko", sans-serif;
  background-color: var(--tertiary-color);
  margin: 0;
}

.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

section {
  padding: 50px 0px 50px 0px;
}
/* HEADER */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(41, 24, 80, 0.9)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/065/276/original/Header2.png?1675206804);
  filter: brightness(120%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 180px;
  font-weight: 400;
}

.subtitle {
  margin-bottom: 80px;
}

.subtitle h3 {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 3px;
}

.subtitle a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
}

/* INTRODUCTION */

.introduction {
  background-color: var(--secondary-color);
  margin-top: 20px;
}

.groupcol {
  padding-left: 100px;
}

.group {
  max-width: 80%;
  transition: all 360ms ease-in-out;
}

.group:hover {
  transform: scale(110%);
}

.intro-text {
  padding-right: 100px;
}

.introduction h2 {
  color: #8210d3;
}

.introduction p {
  color: var(--tertiary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
}

/* MEMBERS */

.members h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.card-member {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 5px 0px;
  max-width: 250px;
}
.hyung {
  margin-bottom: 30px;
}
.dongsaeng {
  justify-content: center;
}

.tannie {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.animate__animated {
  transition: all 400ms ease-in-out;
}

.accordion {
  max-width: 220px;
  display: block;
  margin: 0 auto;
}

.accordion-item {
  border-radius: 0;
}

.accordion-button {
  background-color: var(--secondary-color);
  font-size: 24px;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.accordion-button:not(.collapsed) {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:focus {
  z-index: 0;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.accordion-body {
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-button {
  text-decoration: none;
  align-items: center;
  color: var(--primary-color);
  letter-spacing: 2px;
  padding: 10px 16px;
  border-radius: 4px;
  transition: all 360ms ease-in-out;
  border: 1px solid var(--primary-color);
}

.card-button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* DISCOGRAPHY */

.discography h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.discography h4 {
  color: var(--secondary-color);
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}
.carousel {
  display: block;
  margin: 0 auto;
  max-width: 85%;
}

.carousel-control-next {
  right: -45px;
}

.carousel-control-prev {
  left: -45px;
}
