:root {
  --primary-color: #820fd4;
  --secondary-color: #eddbf9;
  --tertiary-color: #202020;
}

body {
  font-family: "Teko", sans-serif;
  background-color: var(--tertiary-color);
  margin: 0;
}

.navbar {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  background-color: var(--primary-color);
  padding: 2px 0px 0px 15px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.logo {
  max-width: 20%;
}

.nav-link {
  margin-right: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--secondary-color);
  transition: all 360ms ease-in-out;
  border-radius: 10px;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transform: scale(110%);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

section {
  padding: 50px 0px 50px 0px;
  border-bottom: solid 1px var(--secondary-color);
}

h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  letter-spacing: 3px;
}

h4 {
  color: var(--secondary-color);
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 50px;
}

/* HEADER */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(41, 24, 80, 0.9)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/065/276/original/Header2.png?1675206804);
  filter: brightness(120%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 46px;
}

.logo-text {
  max-width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  filter: invert(100%);
}

.subtitle {
  margin-bottom: 80px;
}

.subtitle h3 {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 3px;
}

.subtitle a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  transition: all 360ms ease-in-out;
}

.subtitle a:hover {
  transform: scale(110%);
}

/* INTRODUCTION */

.introduction {
  margin-top: 10px;
}

.intro,
.army {
  align-items: center;
}

.groupcol {
  padding-left: 50px;
}

.group,
.armybomb {
  max-width: 90%;
  transition: all 360ms ease-in-out;
}

.group:hover,
.armybomb:hover {
  transform: scale(110%);
}

.intro-text {
  padding-right: 50px;
}

.introduction h2 {
  margin-bottom: 10px;
}

.introduction p {
  color: var(--secondary-color);
  opacity: 0.8;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1.8px;
  background-color: rgba(130, 15, 212, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.army a {
  color: var(--primary-color);
  font-weight: 400;
}

.introduction h5 {
  font-weight: 300;
  letter-spacing: 1px;
}
/* MEMBERS */

.card-member {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 5px 0px;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.hyung {
  margin-bottom: 30px;
}

.dongsaeng {
  justify-content: center;
}

.tannie {
  max-width: 90%;
  border-radius: 4px;
  margin-left: 12px;
}

.namwrapper {
  position: relative;
  display: inline-block;
}

.namwrapper > .rm1 + .rm2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.namwrapper.active > .rm1 + .rm2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.jinwrapper {
  position: relative;
  display: inline-block;
}

.jinwrapper > .jin1 + .jin2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.jinwrapper.active > .jin1 + .jin2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.sugawrapper {
  position: relative;
  display: inline-block;
}

.sugawrapper > .suga1 + .suga2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.sugawrapper.active > .suga1 + .suga2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.hobiwrapper {
  position: relative;
  display: inline-block;
}

.hobiwrapper > .hobi1 + .hobi2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.hobiwrapper.active > .hobi1 + .hobi2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.mimiwrapper {
  position: relative;
  display: inline-block;
}

.mimiwrapper > .mimi1 + .mimi2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.mimiwrapper.active > .mimi1 + .mimi2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.taewrapper {
  position: relative;
  display: inline-block;
}

.taewrapper > .tae1 + .tae2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.taewrapper.active > .tae1 + .tae2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.jkwrapper {
  position: relative;
  display: inline-block;
}

.jkwrapper > .jk1 + .jk2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 360ms ease-in-out;
}

.jkwrapper.active > .jk1 + .jk2 {
  opacity: 1;
  transition: opacity 360ms ease-in-out;
}

.accordion {
  max-width: 220px;
  display: block;
  margin: 0 auto;
}

.accordion-item {
  border-radius: 0;
}

.accordion-button {
  background-color: var(--secondary-color);
  font-size: 22px;
  letter-spacing: 2px;
  color: var(--primary-color);
  padding: 16px 0px;
}

.accordion-button:not(.collapsed) {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:focus {
  z-index: 0;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.accordion-body {
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accordion-body p {
  color: var(--tertiary-color);
  font-weight: 400;
  letter-spacing: 1px;
}

.card-button {
  text-decoration: none;
  align-items: center;
  color: var(--primary-color);
  letter-spacing: 2px;
  padding: 10px 16px;
  border-radius: 4px;
  transition: all 360ms ease-in-out;
  border: 1px solid var(--primary-color);
}

.card-button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* DISCOGRAPHY */

.discography h4 {
  margin-bottom: 10px;
}
.carousel {
  display: block;
  margin: 0 auto;
  max-width: 85%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  max-width: fit-content;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 10px;
}

.carousel-caption h3 {
  margin: 0;
  letter-spacing: 2px;
  font-weight: 700;
}

.carousel-caption h5 {
  margin: 0;
  font-weight: 300;
  letter-spacing: 2px;
}

.carousel-caption p {
  margin: 0;
  letter-spacing: 2px;
  font-weight: 300;
}

.carousel-control-next {
  right: -45px;
}

.carousel-control-prev {
  left: -45px;
}

/* RECORDS */

.records a {
  color: var(--secondary-color);
  transition: all 360ms ease-in-out;
}

.records a:hover {
  color: var(--primary-color);
}

.records .row {
  align-items: center;
}
.records-list h3 {
  text-align: center;
  color: var(--primary-color);
}
.records-list p {
  color: var(--secondary-color);
  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
}

.record {
  background-color: rgba(237, 219, 249, 0.1);
  padding: 20px;
  border-radius: 20px;
  border: solid 1px var(--primary-color);
  transition: all 360ms ease-in-out;
}

.record:hover {
  transform: scale(110%);
  background-color: rgba(130, 16, 211, 0.3);
  border: solid 1px var(--secondary-color);
}

/*VIDEOS*/

.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.embed {
  max-width: 100%;
  aspect-ratio: 16/9;
}

.videos h5 {
  color: var(--primary-color);
  text-align: center;
}

.videos {
  border-bottom: none;
}
/*FOOTER*/

footer {
  background-image: linear-gradient(rgba(63, 0, 108, 0.4), rgba(41, 0, 71, 0.9)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/066/873/original/footer.png?1676056396);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 20px;
  margin-top: 30px;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  align-items: center;
}

footer h4 {
  margin-bottom: 10px;
  padding-left: 5px;
  font-weight: 400;
}
footer p {
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social {
  color: white;
  margin: 0px 10px;
  transition: all 360ms ease-in-out;
}

.social:hover {
  color: var(--primary-color);
}

footer li {
  transition: all 360ms ease-in-out;
}
footer li:hover {
  transform: scale(130%);
}

.github {
  color: var(--secondary-color);
}

.github:hover {
  color: var(--secondary-color);
}
